---
title: Welcome to BioData Club!
layout: splash
classes: wide
header:
  overlay_color: "#333"
  overlay_filter: "0.20"
  overlay_image: /assets/img/biodataclubphoto.jpg
excerpt: "Let's learn about data science together"
intro:
  -  image_path: /assets/img/Hex-BDP-small.png
     alt: "BioData Club logo"
     title: "What is BioData Club?"
     excerpt: "BioData Club is an interdisciplinary community at OHSU dedicated to promoting a fun and supportive culture of co-learning in data science skills and open science principles. We host workshops and social events where attendees can learn and work on projects among friends and colleagues. Biodata Club welcomes everyone who wants to better their know-how in all things data, regardless of skill level. We want to replace statistics anxiety and code fear with inspiration and motivation to learn and share. BioData Club is supported by the [OHSU Library](https://www.ohsu.edu/library) and [DMICE](https://www.ohsu.edu/school-of-medicine/medical-informatics-and-clinical-epidemiology).<br><br>"
survey: 
  - title: "Take our Survey"
    excerpt: "Please take our annual survey so we can understand what data science skills you want to learn."
    btn_label: "Annual Survey"
    btn_class: "btn--primary"
    url: "https://ohsu.ca1.qualtrics.com/jfe/form/SV_e3CPjhw2zroqzGd"
events:
  - title: "Events"
    excerpt: "BioData Club hosts two types of events: practical learning workshops and hacky hours, often linked by a shared theme. Hacky hours are for networking.  People come to talk about their work, get feedback, and have fun!  Our goal is co-learning, and we believe we have a lot to teach each other."
contact:
  - title: "Contact Us and Get Involved"
    excerpt: "Whether you're a beginner, intermediate, or expert, we want you to be involved with BioData Club."
get_involved:
  -  title: "Slack"
     excerpt: "Join the BioData Club slack workspace and be part of our co-learning community. Everyone is welcome. Ask Questions and team up with other members."
     url: https://join.slack.com/t/biodata-club/shared_invite/enQtOTYzODkxNzY3MDQ2LWI1ZjhhNjkzMWY0ZTAzZjc1ODMzNGQyNWNjYTE3MmYzYjgzMjZmNzU3OWZiOWE0YjU1NjMzNTcxZjJjMTQ1ZjA
     btn_label: "Join Slack"
     btn_class: "btn--primary"
  -  title: "Mailing List"
     excerpt: "Join the mailing list. This link only works within the OHSU firewall. If you're off campus, please email bdcorganizers@ohsu.edu to join."
     btn_label: "Mailing List"
     btn_class: "btn--primary"
     url: http://mailman.ohsu.edu/cgi-bin/mailman/listinfo/biodata-club
  -  title: "Suggest a Workshop"
     btn_label: "Suggest an Event"
     btn_class: "btn--primary"
     url: /teaching/
     excerpt: "We're all learners in BioData Club. Request a workshop, and if you are interested in helping teach it, we'll support you!"
email:
  -  title: "Email us"
     excerpt: "Mail the organizing team at bdcorganizers@ohsu.edu."
     btn_label: "Email the Team"
     btn_class: "btn--primary"
     url: "mailto:bdcorganizers@ohsu.edu"
---
{% include feature_row %}

<a name="about"></a>
{% include feature_row id="intro" type = "left" %}

{% include feature_row id="survey" type = "center" %}

<a name="events"></a>
{% include feature_row id="events" type = "center" %}

{% assign sorted_events = site.events | sort: 'date' %}

{% capture now_moment %}{{ "today" | date: '%s' | plus: 172800 }}{% endcapture %}

{% for event in sorted_events %}
    {% capture date %}{{ event.date | date: '%s' | minus: 0 }}{% endcapture %}
     {% if date > now_moment %}
      {% include events2.html %}
      {% endif %}
{% endfor %}

<a name="contact"></a>
{% include feature_row id="contact" type = "center" %}
{% include feature_row id="get_involved" %}
{% include feature_row id="email" type= "center" %}
