<section id="come-say-hi">
<div class="container">

  <!-- Come Say Hi Header -->
  <div class="row">
      <h2 class="section-heading text-center">Come Say Hi</h2>
  </div>
  <!-- End of Header -->

  <!-- Begin Buttons -->
  <div class="row">

    <!-- Section for joining the BioData Club Slack page -->
    <div class="col-lg-6 col-sm-12 text-center">
      <h3 class="section-subheading text-muted">Join our Slack Page and hang out, share tips, or ask questions! You'll need an ohsu.edu email address to join. </h3>

      <!-- Button for joining the Slack page -->
      <a href="https://biodata-club.slack.com" class="btn btn-xl">BioData Club Slack</a>
    </div>

    <!-- Section for joining the email listserv at OHSU -->
    <div class="col-lg-6 col-sm-12 text-center">
      <h3 class="section-subheading text-muted">We have a mailing list that you can join here (link only works within OHSU firewall). </h3>

      <!-- Button for joining the mailing list -->
      <a href="http://mailman.ohsu.edu/cgi-bin/mailman/listinfo/biodata-club" class="btn btn-xl">Subscribe to our email list</a>
    </div>
  </div>
  <!-- End Buttons -->

</div>
</section>
