<section id="friends-and-resources" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Friends and Resources</h2>
        <h3 class="section-subheading text-muted">Groups and resources for coding and research</h3>
      </div>
    </div>
    <div class="col-lg-12">
      <ul>
	     <li>
          <a class='eventTitle' href="https://www.ohsu.edu/xd/education/schools/school-of-medicine/departments/computational-biology/events/data-jamboree.cfm">OHSU Data Jamboree</a>
          <div class='eventSub'> Organized by OHSU Computational Biology in the School of Medicine, the monthly Data Jamboree series provides interactive lectures, hands-on workshops, and community building related to data science research and learning.</div>
        </li> 
	       <li>
          <a class='eventTitle' href="http://laderast.github.io/">Ted Laderas, PhD</a>
          <div class='eventSub'> Hometown hero Ted has developed an R Bootcamp and other tutorials. It's a great place to start learning R. After you do that, move on to the Markdown, ggPlot, and Shiny tutorials!</div>
        </li>
	    <li>
          <a class='eventTitle' href="https://software-carpentry.org/lessons/">Software Carpentry</a>
          <div class='eventSub'>Introductory lessons on various topics in computing for research.</div>
        </li>
		 <li>
          <a class='eventTitle' href="https://pdxrlang.com/"> Portland's R User Group</a>
          <div class='eventSub'>Meetups in PDX featuring R users talking about their work and learning together.</div>
        </li>	
	       <li>
          <a class='eventTitle' href="https://www.womenwhocode.com/portland"> Women Who Code PDX</a>
          <div class='eventSub'>Networking, skill building, and professional development meetups.</div>
        </li>	
	          <li>
          <a class='eventTitle' href="http://wisportland.weebly.com/"> Women in Science PDX</a>
          <div class='eventSub'>Networking, skill building, and professional development meetups for women in STEM fields.</div>
        </li>	
	      <li>
          <a class='eventTitle' href="http://a4vdis.weebly.com/"> Alliance for Visible Diversity in Science</a>
          <div class='eventSub'>OHSU student-led group for enhancing support of students, postdocs, and faculty of color in grad programs/science.</div>
        </li>	
	     <li>
          <a class='eventTitle' href="http://carlystrasser.net/the-10-things-every-new-grad-student-should-do/"> Carly Strasser's excellent advice for PhD students</a>
          <div class='eventSub'>Learn to code!</div>
        </li>	 
	      
        </ul
    </div>
  </div>
</section>
