
<div class="{{ include.type | default: "list" }}__item" markdown=1>
  <article class="archive__item" itemtype="http://schema.org/CreativeWork">
     <h2 class="archive__item-title">{{ event.title | markdownify | remove: "<p>" | remove: "</p>" }}</h2>

{% if event.description %}
{{ event.description | markdownify | strip_html }}
{% endif %}
<section class="page__share">
{% if event.recording %}
<a href="{{ event.recording }}" class="btn btn--info">Recording</a>
{% endif %}
{% if event.slides %}
<a href="{{ event.slides }}" class="btn btn--info">Slides</a>
{% endif %}
{% if event.code %}
<a href="{{event.code}}" class="btn btn--info">Code</a>
{% endif %}
</section>
</article>
</div>
