<div class="{{ include.type | default: "list" }}__item">
<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
<h2 class="archive__item-title">{{ event.title }}</h2>
{% if event.description %}
{{ event.description | markdownify | strip }}
{% endif %}
<section class="page__share">
{% if event.recording %}
<a href="{{ event.recording }}" class="btn btn--info">Recording</a>
{% endif %}
{% if event.slides %}
<a href="{{ event.slides }}" class="btn btn--info">Slides</a>
{% endif %}
{% if event.code %}
<a href="{{event.code}}" class="btn btn--info">Code</a>
{% endif %}
</section>
</article>
</div>
